.header {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 20px 0;
}

.header-content {
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5);
  /* Use an RGBA color with an alpha value for transparency */
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 4%;
}

.logo {
  width: 100px;
}

.menu-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  color: var(--white);
  text-decoration: none;
  margin-left: 5%;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: color 0.1s ease-in-out;
}

.menu-item:hover {
  color: var(--primary);
  text-shadow: -1px -1px 0 var(--white), 1px -1px 0 var(--white), -1px 1px 0 var(--white), 1px 1px 0 var(--white);
  /* Multiple text shadows with offsets to simulate an outline */
}

.active {
  color: var(--primary);
  text-shadow: -1px -1px 0 var(--white), 1px -1px 0 var(--white), -1px 1px 0 var(--white), 1px 1px 0 var(--white);
  /* Multiple text shadows with offsets to simulate an outline */
}

.menu {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navbar {
    height: 100px;
  }

  .logo {
    width: 100px;
  }

  .menu-items {
    display: none;
  }

  .menu {
    display: block;
  }
}